@font-face {
    font-family: 'fp-2732';
    src: url('../font/ussr army.eot');
    src: url('../font/ussr army.eot?#iefix') format('embedded-opentype'),
        url('../font/ussr army.woff') format('woff'),
        url('../font/ussr army.ttf') format('truetype'),
        url('../font/ussr army.svg#fp-2732') format('svg');
}

.ussr_army {
    font-family: 'fp-2732',sans-serif;
}

main {
    background-color: black;
    color: #F7F9F9;
    padding: 50px 0;
}

header {
    background-image: url("/img/header.jpg");
    background-size: contain;
    background-position: center;
}

h1 {
    margin: 0;
    color: #F7F9F9;
    font-size: 65px;
}

nav {
    background-color: darkslategray;
    padding: 5px 10px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.nav_space {
    margin: 0 10px; 
}

a {
    color: #F7F9F9;
}

a:hover {
    text-decoration: none;
    color: yellow;
}

footer {
    color: #F7F9F9;
    padding: 10px;
    background-color: #424949;
    text-align: center;
}

.error {
    color: #FF5733;
}

button {
    margin: 20px 0;
}

#forget_password {
    font-size: 12px;
}

#forget_password:hover {
    color: white;
    text-decoration: underline;
}

.login {
    width: 150px;
}

#change_profile {
    color: black;
}

.back {
    color: black;
}

.back:hover {
    color: black;
    text-decoration: underline;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.product {
    margin: 20px;
    background-color: #1F1F1F;
    opacity: 1;
    padding: 10px;
    width: 200px;
    height: 300px;
}

.product:hover {
    box-shadow: 0px 0px 30px 2px white;
}

hr {
    background-color: white;
}

.wrapper {
    padding: 0 20%;
}
