body {
    margin: 0;
}

.error{
    color: red;
}

header {
    background-color: black;
}

h1 {
    display: inline-block;
    color: white;
}

a {
    display: inline-block;
    text-decoration: none;
}