@font-face {
    font-family: sf-alien-encounters;
    src: url('../font/sf-alien-encounters.italic.ttf') format('truetype'),
         url('../font/sf-alien-encounters.italic-webfont.woff2') format('woff2'),
         url('../font/sf-alien-encounters.italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: ussr-army; 
    src: url('../font/ussr-army.regular.ttf') format('truetype'),
         url('../font/ussr-army.regular-webfont.woff2') format('woff2'),
         url('../font/ussr-army.regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: AgencyFB-Bold; 
    src: url('../font/agency-fb-bold_cee84847c4ab16cf2b0952d063712724.ttf') format('truetype'),
         url('../font/agency-fb-bold_cee84847c4ab16cf2b0952d063712724.woff') format('woff');
}